#weather
    padding-top: 110px
    .box
        padding: 35px 0
        background-color: #a4caff
        border-radius: 20px
        color: #ffff
        text-align: center
        .data
            font-size: 26px
            h2
                margin-top: 28px 
        input
            border-radius: 20px
            margin: 30px 
            padding: 10px 
        .btn
            color: #ffff
            background-color: #79afff
            font-size: 21px
            border-radius: 25px
            padding: 5px 28px
