#weather
    padding-top: 130px
    .box
        border: 2px solid #6099a1
        padding: 60px
        background-color: #afd8e3
        border-radius: 20px
        color: #ffff
        text-align: center
        .data
            font-size: 26px
            h2
                margin-top: 20px
        input
            border-radius: 20px
            margin: 20px 0
            border: 2px solid #6099a1
        .btn
            color: #ffff
            background-color: #6099a1
            font-size: 21px
            border-radius: 25px
            padding: 5px 25px
