#weather
    padding-top: 130px
    .box
        padding: 40px
        background-color: #c4d492
        border-radius: 20px
        color: #ffff
        text-align: center
        .data
            font-size: 26px
            h2
                margin-top: 20px
        input
            border-radius: 20px
            margin: 20px 0
        .btn
            color: #ffff
            background-color: #8b9865
            font-size: 21px
            border-radius: 25px
            padding: 5px 25px
